@{
    @model event_management_system.Domain.Models.AttendanceLogModel;
}


<div class="event-attendance-log-container standard-container">

    <div class="event-attendance-log-header">
        <h1 class="text-glow-white">EVENT ATTENDANCE</h1>
    </div>

    <div class="event-attendance-log-header">
        <h3 class="text-glow-white">EVENT TIME IN</h3>
    </div>

    <div class="table-wrapper">
        <div class="table-container">

            <!-- Search and Filter  -->
            <form class="search-and-filter-container">

                <!-- Search -->
                <fieldset class="search-container">

                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <g clip-path="url(#clip0_11_108)">
                            <path d="M6 11.5C9.03757 11.5 11.5 9.03757 11.5 6C11.5 2.96243 9.03757 0.5 6 0.5C2.96243 0.5 0.5 2.96243 0.5 6C0.5 9.03757 2.96243 11.5 6 11.5Z" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M13.5 13.5L10 10" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                        </g>
                        <defs>
                            <clipPath id="clip0_11_108">
                                <rect width="14" height="14" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>

                    <input type="text" name="" id="search-input-time-in" placeholder="Search anything here..">

                </fieldset>

            </form>

            <!-- TABLE -->
            <table id="event-attendance-time-in-table">
                <thead>
                    <tr>
                        <th>Time In ID</th>
                        <th>Ticket ID</th>
                        <th>Student ID</th>
                        <th>Name</th>
                        <th>Year Level</th>
                        <th>Date</th>
                        <th>Time In</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    
                    @if (!(Model.TimeInList[0].TicketID == null || Model.TimeInList[0].TicketID == ""))
                    {
                        foreach (event_management_system.Domain.DataTransferObject.TimeInDataTransferObject timeInDataTransfer in Model.TimeInList)
                        {
                            <tr>
                                <td>@timeInDataTransfer.TimeInID</td>
                                <td>@timeInDataTransfer.TicketID</td>
                                <td>@timeInDataTransfer.Student.StudentID</td>
                                <td>@String.Join(" ", new List<string>() { timeInDataTransfer.Student.FirstName, timeInDataTransfer.Student.MiddleName, timeInDataTransfer.Student.LastName })</td>
                                <td>@timeInDataTransfer.Student.YearLevel</td>
                                @if ( !( ((DateTime)timeInDataTransfer.TimeIn!).ToString("yyyy-MM-dd").ToUpper() == "1000-01-01")){
                                    <td>
                                        @(((DateTime)timeInDataTransfer.TimeIn!).ToString("yyyy-MM-dd").ToUpper())
                                    </td>
                                    <td>@(((DateTime)timeInDataTransfer.TimeIn!).ToString("HH:MM tt").ToUpper())</td>
                                }
                                else
                                {
                                    <td></td>
                                    <td></td>

                                }

                                

                                <td>
                                    <button class="time-in-btn">
                                        Time In
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        
                        
                    }

                    
                </tbody>
            </table>
        </div>
    </div>

    <br />
    <br />

    <div class="event-attendance-log-header">
        <h3 class="text-glow-white">EVENT TIME OUT</h3>
    </div>
    
    <div class="table-wrapper">
        <div class="table-container">

            <!-- Search and Filter  -->
            <form class="search-and-filter-container">

                <!-- Search -->
                <fieldset class="search-container">

                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <g clip-path="url(#clip0_11_108)">
                            <path d="M6 11.5C9.03757 11.5 11.5 9.03757 11.5 6C11.5 2.96243 9.03757 0.5 6 0.5C2.96243 0.5 0.5 2.96243 0.5 6C0.5 9.03757 2.96243 11.5 6 11.5Z" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M13.5 13.5L10 10" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                        </g>
                        <defs>
                            <clipPath id="clip0_11_108">
                                <rect width="14" height="14" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>

                    <input type="text" name="" id="search-input-time-out" placeholder="Search anything here..">

                </fieldset>

            </form>

            <!-- TABLE -->
            <table id="event-attendance-time-out-table">
                <thead>
                    <tr>
                        <th>Time Out ID</th>
                        <th>Ticket ID</th>
                        <th>Student ID</th>
                        <th>Name</th>
                        <th>Year Level</th>
                        <th>Date</th>
                        <th>Time Out</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    @if(!(Model.TimeOutList[0].TicketID == null || Model.TimeOutList[0].TicketID == ""))
                    {
                        foreach (event_management_system.Domain.DataTransferObject.TimeOutDataTransferObject timeOutDataTransfer in Model.TimeOutList)
                        {
                            <tr>
                                <td>@timeOutDataTransfer.TimeOutID</td>
                                <td>@timeOutDataTransfer.TicketID</td>
                                <td>@timeOutDataTransfer.Student.StudentID</td>
                                <td>@String.Join(" ", new List<string>() { timeOutDataTransfer.Student.FirstName, timeOutDataTransfer.Student.MiddleName, timeOutDataTransfer.Student.LastName })</td>
                                <td>@timeOutDataTransfer.Student.YearLevel</td>
                                @if (!(((DateTime)timeOutDataTransfer.TimeOut!).ToString("yyyy-MM-dd").ToUpper() == "1000-01-01"))
                                {
                                    <td>
                                        @(((DateTime)timeOutDataTransfer.TimeOut!).ToString("yyyy-MM-dd").ToUpper())
                                    </td>
                                    <td>@(((DateTime)timeOutDataTransfer.TimeOut!).ToString("HH:MM tt").ToUpper())</td>
                                }
                                else
                                {
                                    <td></td>
                                    <td></td>

                                }
                                <td>
                                    <button class="time-out-btn">
                                        Time Out
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                    
                </tbody>
            </table>
        </div>
    </div>

</div>

@section Script {
    <script src="~/js/event-information.js"></script>
}
